.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #846ab2;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Pacifico-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 41px;
  width: 275px;
  height: 61px;
}
.homepage {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 798px;
  top: 71px;
  width: 160px;
  height: 56px;
}
.homepage-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.homepage-span2 {
  color: #000000;
  font-family: "JsMathCmbx10-Cmbx10", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 988px;
  top: 84px;
  width: 98px;
  height: 38px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1163px;
  top: 83px;
  width: 89px;
  height: 34px;
}
.lets-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 176px;
  top: 384px;
  width: 1087px;
  height: 77px;
}
.today-lets-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 22px);
  width: 920px;
  height: 87px;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 587px;
  top: 662px;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 602px;
  top: 673px;
  width: 147px;
  height: 35px;
}
